@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-regular-webfont.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-light-webfont.ttf")format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro/pfdintextcomppro-lightitalic.ttf")format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-medium-webfont.ttf")format("truetype");
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'OpenSans';
//     src: url('../fonts/OpenSansRegular/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansRegular/OpenSans.woff') format('woff'), url('../fonts/OpenSansRegular/OpenSans.ttf') format('truetype'), url('../fonts/OpenSansRegular/OpenSans.svg#OpenSans') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'OpenSans';
//     src: url('../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansBold/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSansBold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSansBold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
//     // font-weight: 700;
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'fontello';
//     src: url('../fonts/fontello/fontello.eot?42315127');
//     src: url('../fonts/fontello/fontello.eot?42315127#iefix') format('embedded-opentype'), url('../fonts/fontello/fontello.woff2?42315127') format('woff2'), url('../fonts/fontello/fontello.woff?42315127') format('woff'), url('../fonts/fontello/fontello.ttf?42315127') format('truetype'), url('../fonts/fontello/fontello.svg?42315127#fontello') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 15px "PF Din Text Cond Pro", sans-serif;
    font-weight:400;
    font-style: normal;
}

.wrapper {
    min-width: 320px;
    // max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.content {
    max-width: 1124px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.clear:after,
.clear:before {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}
