@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcomppro-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 15px "PF Din Text Cond Pro", sans-serif;
  font-weight: 400;
  font-style: normal; }

.wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.content {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%; }

.clear:after,
.clear:before {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 320px) {
  .col {
    margin: 1% 0 1% 0%; }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; } }
a {
  color: inherit;
  outline: none; }

input {
  outline: none; }

body {
  background-color: #fff;
  height: 100%; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden; }

header {
  background-color: #fff; }
  header .first_line .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: base-line; }

.logo img {
  width: 100%; }

.line_b {
  border-bottom: 12px double #fff;
  border-top: 4px solid #fff;
  content: "";
  height: 4px;
  width: 29px; }

nav {
  background-color: #ff8400;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff; }

.error_display {
  text-align: center;
  font-style: italic; }
  .error_display p {
    font-size: 150px;
    font-style: normal; }

.www,
.footer_menu,
.footer_place {
  text-align: center; }

.footer_place {
  max-width: 60.6%; }

section .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; }

.what_we_can__item_img {
  background: url(../img/spritesheet);
  width: 190px;
  height: 190px; }

.what_we_can__item_img.fst,
.what_we_can__item_img.thd {
  background-position: -25px -25px; }

.what_we_can__item_img.scnd,
.what_we_can__item_img.frth {
  background-position: -265px -25px; }

.what_we_can__item_img.thd,
.what_we_can__item_img.frth {
  background-position-y: -265px; }

.item_slide_img {
  background: url(../img/spritesheet_2);
  width: 277px;
  height: 272px; }

.item_slide_img.fst,
.item_slide_img.thd {
  background-position: -18px -21px; }

.item_slide_img.scnd {
  background-position: -331px -22px; }

.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 22px; }
  .menu_button #submenu_0 {
    position: absolute;
    display: none;
    display: none;
    width: 20%;
    min-width: 300px;
    background: #fff;
    padding: 1%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    top: 96px;
    right: 10px;
    z-index: 999; }
    .menu_button #submenu_0 ul li {
      float: none;
      text-align: left; }
      .menu_button #submenu_0 ul li #submenu_1,
      .menu_button #submenu_0 ul li #submenu_2,
      .menu_button #submenu_0 ul li #submenu_3,
      .menu_button #submenu_0 ul li #submenu_4 {
        margin-left: 20px;
        min-width: 250px;
        left: auto; }
      .menu_button #submenu_0 ul li #submenu_2,
      .menu_button #submenu_0 ul li #submenu_3,
      .menu_button #submenu_0 ul li #submenu_4 {
        min-width: 200px; }
  .menu_button .container {
    display: inline-block;
    cursor: pointer; }
  .menu_button .bar1,
  .menu_button .bar2,
  .menu_button .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px); }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar2 {
    opacity: 0; }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar3 {
    transform: rotate(45deg) translate(-8px, -8px); }
  .menu_button input[type=checkbox].css-checkbox:checked ~ #submenu_0 {
    display: inline-block; }

input[type=radio].css-checkbox + label.css-label,
input[type=checkbox].css-checkbox + label.css-label {
  vertical-align: middle;
  cursor: pointer; }

input[type=checkbox].css-checkbox,
input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.guarantee input[type=checkbox].css-checkbox + label.css-label {
  cursor: zoom-in; }

.guarantee input[type=checkbox].css-checkbox:checked + label.css-label {
  cursor: zoom-out; }

.guarantee input[type=checkbox].css-checkbox:checked ~ label > div > img {
  width: 100%; }

.guarantee label > div {
  text-align: center; }
  .guarantee label > div > img {
    width: 50%;
    height: auto; }

.submenu_1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
.submenu_1 li {
  list-style-type: disc;
  padding: 2%; }
.submenu_1 li:first-child {
  list-style-type: none; }

[class*="_button"] button {
  height: 41px;
  background-color: #ff8400;
  font-family: "PF Din Text Cond Pro";
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 136px;
  color: #fff; }

[class*="_button"]:hover button {
  background-color: #ff4e00; }

input[type=radio]#radio1.css-checkbox:checked ~ .section_img .itm_img__radio1,
input[type=radio]#radio2.css-checkbox:checked ~ .section_img .itm_img__radio2,
input[type=radio]#radio3.css-checkbox:checked ~ .section_img .itm_img__radio3,
input[type=radio]#radio4.css-checkbox:checked ~ .section_img .itm_img__radio4,
input[type=radio]#radio11.css-checkbox:checked + label > .itm_img__radio1,
input[type=radio]#radio12.css-checkbox:checked + label > .itm_img__radio2,
input[type=radio]#radio13.css-checkbox:checked + label > .itm_img__radio3,
input[type=radio]#radio14.css-checkbox:checked + label > .itm_img__radio4 {
  display: flex; }

.section_img [class*="itm_img__"],
.section_nav [class*="itm_img__"] {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch; }
  .section_img [class*="itm_img__"] .itm_img,
  .section_nav [class*="itm_img__"] .itm_img {
    background: url(../img/6-layers.png);
    width: 248px;
    height: 50px; }
  .section_img [class*="itm_img__"] .itm_img.fst,
  .section_nav [class*="itm_img__"] .itm_img.fst {
    background-position: 0px 0px; }
  .section_img [class*="itm_img__"] .itm_img.scnd,
  .section_nav [class*="itm_img__"] .itm_img.scnd {
    background-position: 10px 100px; }
  .section_img [class*="itm_img__"] .first_line,
  .section_img [class*="itm_img__"] .second_line,
  .section_nav [class*="itm_img__"] .first_line,
  .section_nav [class*="itm_img__"] .second_line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.section_nav [class*="itm_img__"] .first_line,
.section_nav [class*="itm_img__"] .second_line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.triangle {
  width: 0;
  height: 0;
  border-left: 23.5px solid transparent;
  border-right: 23.5px solid transparent;
  border-top: 23.5px solid #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 44px auto 0;
  display: none; }

.triangle_int {
  width: 25px;
  height: 30px;
  background: url(../img/spritesheet_arrow);
  background-position: 0px 0px; }

input[type=radio].css-checkbox:checked + label.css-label > div {
  display: block; }

input[type=radio].css-checkbox:checked + label.css-label > .triangle_int {
  background-position: 28px 0px; }

.section_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.our_customers_title_l1 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.our_customers_title_l2 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  font-style: italic; }

section .gallery .item {
  height: 300px; }

.about_our_equip__item_text {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 59px; }
  .about_our_equip__item_text h2 {
    margin-bottom: 20px; }

.what_we_can__item_img {
  display: none; }

.what_we_can__item_text {
  font-size: 18px;
  text-transform: none; }
  .what_we_can__item_text > h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 15px; }
  .what_we_can__item_text .item_button {
    margin: 20px 0 44px; }
    .what_we_can__item_text .item_button button {
      font-size: 25px; }

.about_what_we_can {
  margin-bottom: 15px; }

.our_customers {
  background-color: #fdc029; }

@media (max-width: 1024px) {
  .submenu_1,
  .header_place {
    display: none; }

  .logo.span_4_of_12 {
    width: 32.26%; }

  .call_back.span_2_of_12 {
    width: 44.73%; }

  .menu_tabs {
    display: none; }

  .menu_tabs__mobile {
    display: block; }

  .section_nav {
    align-items: flex-start; } }
@media (min-width: 1024px) {
  .what_we_can__item_img {
    display: block; }

  nav {
    padding: 15px 22px; }

  .menu_button {
    display: none; }

  [class*="_button"] button {
    font-size: 25px; }

  .menu_tabs__mobile {
    display: none; }

  .section_nav {
    display: block; } }

/*# sourceMappingURL=style.css.map */
