@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcomppro-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/PFDinTextCondPro/pfdintextcondpro-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 15px "PF Din Text Cond Pro", sans-serif;
  font-weight: 400;
  font-style: normal; }

.wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.content {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%; }

.clear:after,
.clear:before {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

a {
  color: inherit;
  outline: none; }

body {
  background-color: #fff;
  height: 100vh; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

header {
  background-color: #fff; }
  header .first_line .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: base-line; }

.line_b {
  border-bottom: 12px double #fff;
  border-top: 4px solid #fff;
  content: "";
  height: 4px;
  width: 29px; }

nav {
  background-color: #ff8400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 22px; }

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff; }

.error_display {
  text-align: center;
  font-style: italic; }
  .error_display p {
    font-size: 150px;
    font-style: normal; }

.www,
.footer_menu,
.footer_place {
  text-align: center; }

.footer_place {
  max-width: 60.6%; }

section .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch; }

.what_we_can__item_img {
  background: url(../img/spritesheet);
  width: 190px;
  height: 190px; }

.what_we_can__item_img.fst,
.what_we_can__item_img.thd {
  background-position: -25px -25px; }

.what_we_can__item_img.scnd,
.what_we_can__item_img.frth {
  background-position: -265px -25px; }

.what_we_can__item_img.thd,
.what_we_can__item_img.frth {
  background-position-y: -265px; }

.item_slide_img {
  background: url(../img/spritesheet_2);
  width: 277px;
  height: 272px; }

.item_slide_img.fst,
.item_slide_img.thd {
  background-position: -18px -21px; }

.item_slide_img.scnd {
  background-position: -331px -22px; }

.menu_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .menu_button #submenu_0 {
    position: absolute;
    display: none;
    display: none;
    width: 20%;
    min-width: 300px;
    background: #fff;
    padding: 1%;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    top: 180px;
    right: 10px; }
    .menu_button #submenu_0 ul li {
      float: none;
      text-align: left; }
      .menu_button #submenu_0 ul li #submenu_1,
      .menu_button #submenu_0 ul li #submenu_2,
      .menu_button #submenu_0 ul li #submenu_3,
      .menu_button #submenu_0 ul li #submenu_4 {
        margin-left: 20px;
        min-width: 250px;
        left: auto; }
      .menu_button #submenu_0 ul li #submenu_2,
      .menu_button #submenu_0 ul li #submenu_3,
      .menu_button #submenu_0 ul li #submenu_4 {
        min-width: 200px; }
  .menu_button .container {
    display: inline-block;
    cursor: pointer; }
  .menu_button .bar1,
  .menu_button .bar2,
  .menu_button .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
  .menu_button input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .menu_button input[type=checkbox].css-checkbox + label.css-label {
    vertical-align: middle;
    cursor: pointer; }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px); }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar2 {
    opacity: 0; }
  .menu_button input[type=checkbox].css-checkbox:checked + label.css-label > .container > .bar3 {
    transform: rotate(45deg) translate(-8px, -8px); }
  .menu_button input[type=checkbox].css-checkbox:checked ~ #submenu_0 {
    display: inline-block; }

.submenu_1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
.submenu_1 li {
  list-style-type: disc;
  padding: 2%; }
.submenu_1 li:first-child {
  list-style-type: none; }

[class*="_button"] button {
  width: 197px;
  height: 41px;
  background-color: #ff8400;
  font-family: "PF Din Text Cond Pro";
  border: none;
  font-size: 25px;
  text-transform: uppercase; }

[class*="_button"]:hover button {
  background-color: #ff4e00; }

/*# sourceMappingURL=style.css.map */
