@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSansRegular/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSans.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSans.ttf") format("truetype"), url("../fonts/OpenSansRegular/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSansBold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?42315127");
  src: url("../fonts/fontello/fontello.eot?42315127#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?42315127") format("woff2"), url("../fonts/fontello/fontello.woff?42315127") format("woff"), url("../fonts/fontello/fontello.ttf?42315127") format("truetype"), url("../fonts/fontello/fontello.svg?42315127#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 15px "OpenSans", sans-serif;
  font-weight: 400; }

.wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.content {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%; }

.clear:after,
.clear:before {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

a {
  color: inherit;
  outline: none; }

body {
  background-color: #fff;
  height: 100vh; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

header {
  background-color: #fff; }
  header .first_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: base-line; }

.line_b {
  border-bottom: 12px double #fff;
  border-top: 4px solid #fff;
  content: "";
  height: 4px;
  width: 29px; }

nav {
  background-color: #ff8400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px 22px; }

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff; }

.error_display {
  text-align: center;
  font-style: italic; }
  .error_display p {
    font-size: 150px;
    font-style: normal; }

.www, .footer_menu, .footer_place {
  text-align: center; }

.footer_place {
  max-width: 60.6%; }

section .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch; }

.what_we_can__item_img {
  background: url(../img/spritesheet);
  width: 190px;
  height: 190px; }

.what_we_can__item_img.fst {
  background-position: -25px -25px; }

.what_we_can__item_img.scnd {
  background-position: -265px -25px; }

.what_we_can__item_img.thd {
  background-position: -25px -265px; }

.what_we_can__item_img.frth {
  background-position: -265px -265px; }

.item_slide_img {
  background: url(../img/spritesheet_2);
  width: 262px;
  height: 262px; }

.item_slide_img.fst, .item_slide_img.thd {
  background-position: -24px -22px; }

.item_slide_img.scnd {
  background-position: -337px -22px; }

/*# sourceMappingURL=style.css.map */
